@value colors: "~/ui-shared/themes/colors.css";
@value gray, lightGray, nearBlack from colors;

.button {
  --button-background-color: lightGray;
  --button-text-color: nearBlack;
  --button-hover-background-color: gray;
  --button-disabled-background-color: lightGray;
  display: block;
  width: 100%;
  background: var(--button-background-color);
  border: none;
  border-radius: 4px;
  color: var(--button-text-color);
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
  white-space: nowrap;

  &:hover {
    background: var(--button-hover-background-color);
  }

  &[data-disabled] {
    background: var(--button-disabled-background-color);
    cursor: not-allowed;
  }

  &:focus-visible {
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 2px;
  }
}
