@value white: #ffffff;
@value nearBlack: #202124;
@value lightGray: #f8f9fa;
@value gray: #e1e1e1;
@value darkGray: #616161;
@value lightPurple: #9f7fd9;
@value purple: #4100b3;
@value darkPurple: #33008c;
