name: Test branch

on: push

concurrency:
  group:
    ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  compile-and-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Typecheck
        run: npm run typecheck
      - name: Check for uncommitted prettier changes
        run: npm run prettier:ci
      - name: Lint
        run: npm run lint:ci

  test-with-playwright:
    needs: compile-and-lint
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
        env:
          BUILD_ENV: test
          ROLLBAR_ACCESS_TOKEN: ${{ vars.ROLLBAR_ACCESS_TOKEN }}
      - name: Install playwright browsers
        run: npx playwright install --with-deps
      - name: Run playwright tests
        run: npx playwright test
        env:
          BUILD_ENV: test
          ROLLBAR_ACCESS_TOKEN: ${{ vars.ROLLBAR_ACCESS_TOKEN }}
      - name: Upload playwright report
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: playwright-report
          path: playwright/report/
          retention-days: 7

  upload-artifact:
    if: github.ref == 'refs/heads/main'
    needs: test-with-playwright
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
        env:
          BUILD_ENV: production
          ROLLBAR_ACCESS_TOKEN: ${{ vars.ROLLBAR_ACCESS_TOKEN }}
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: tiny-recipe-clipper
          path: dist
          retention-days: 30
